<html>
	<head th:replace="~{base :: head}">
	<meta charset="UTF-8"/>
	</head>
	
	<body>
		<div th:replace="~{base :: logo}"></div>
		<div class="container">
		
			<div th:replace="~{base :: titulo('Novo pedido')}"></div>
			<div class="card mt-3">
				<form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="POST">
					<div class="form-group">
						<label for="nomeProduto">Produto</label>
						<input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" placeholder="Nome do produto"/>
						<small>Informe qual o nome do produto</small>
						<div class="invalid-feedback" th:errors="*{nomeProduto}">
							Erros do nome do produto
						</div>
					</div>
					<div>
						<label for="urlProduto">URL do produto</label>
						<input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" placeholder="URL do produto"/>
						<small>Informe a URL do produto</small>
						<div class="invalid-feedback" th:errors="*{urlProduto}">
							Erros do url do produto
						</div>
					</div>
					
					<div>
						<label for="urlImagem">URL da Imagem</label>
						<input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" placeholder="URL da Imagem"/>
						<small>Informe a URL da imagem</small>
						<div class="invalid-feedback" th:errors="*{urlImagem}">
							Erros do url da imagem do produto
						</div>
					</div>
					
					<div>
						<label for="descricao">Descrição</label>
						<textarea th:field="*{descricao}"class="form-control" name="descricao" placeholder="Descrição do produto"></textarea>
					</div>
					<button class="btn btn-primary" type="submit">Cadastrar</button>
				</form>
			</div>
		</div>
	</body>
</html>